body{
    background-color: dimgray;
}


#board{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 500px;
    border: 3px solid rosybrown;
    border-radius: 5%;
    background-color: brown;

}
.row1,.row2,.row3,.row4
{
    margin-left: 5%;
    margin-right: 5%;
    height: 90px; 
    color: aquamarine;
    margin-top: 10px;
}

#e1,#e2,#e3,#e4
{
    font-size: 4pc;
    text-align: center;
    left: 5%;
    border: 2% solid red;
    border-radius: 8%;
   
    width: 24%;
    height: 100%;
    
}

#butzone{
    margin-top: 1%;
    left: 5%;
   
    right: 5%;
   
   
    background-color: coral;
    height: 400px;
    


}




#reText
{
    font-size: 5pc;
    text-align: right;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 120px;
    background-color: black;
    color: #00ff39;

}


#foote{
    position: fixed;
    left: 0;
    bottom: 0;
    color: aqua;
    width: 100%;
    background-color: darkslategrey;
    text-align: center;


}